body {
    background-color: var(--neutral-very-dark-blue);
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.generator-card {
    max-width: 540px;
    width: 100%;
    padding: 20px;
    background-color: var(--neutral-grayish-blue);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.generator-card .title {
    text-align: center;
    color: var(--primary-strong);
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 4px;
    padding-bottom: 0px;
    margin-top: 30px;
}

.generator-card .card-text {
    text-align: center;
    color: var(--primary-soft);
    font-size: 27px;
    padding: 23px;
}

.generator-card .divider-image {
    display: flex;
    max-width: 100%;
    padding-top: 10px;
}

.generator-card .generate-button {
    background-color: var(--primary-strong);
    border: none;
    border-radius: 50%;
    min-width: 60px;
    min-height: 60px;
    transform: translateY(85%);
}

.generator-card .generate-button:hover {
    color: var(--primary-strong);
    cursor: pointer;
    box-shadow: 0 5px 15px var(--primary-strong);
}

@media (max-width: 768px) {
    .generator-card {
        max-width: 340px;
        width: 100%;
        height: 310px;
    }

    .generator-card .card-text {
        font-size: 22px;
        letter-spacing: 0.5px;
        padding: 0px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .generator-card .title {
        font-size: 10px;
    }

    .generator-card .generate-button {
        transform: translateY(50%);
    }
}